@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Newsreader", serif;
}

body {
    background-color: black;
    color: white;
}

.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

/* Left box  */
.left {
    width: 25vw;
    padding: 10px;
}

/* home  */
.home ul li {
    width: 1.2rem;
    display: flex;
    gap: 12px;
    padding-top: 12px;
    font-weight: bold;
}

/* library  */

.library {
    min-height: 75vh;
    position: relative;
}

.heading {
    width: 100%;
    display: flex;
    gap: 12px;
    padding-top: 12px;
    font-weight: bold;
    align-items: center;
}

.heading img {
    width: 1.5rem;
}

.footer {
    display: flex;
    font-size: 12px;
    gap: 15px;
    position: absolute;
    bottom: 2px;
    flex-wrap: wrap;
    padding: 5px;

}

.footer a {
    color: whitesmoke;
}

/* Right box  */
.right {
    width: 75vw;
    margin: 15px 0;
    max-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(50, 50, 50);
}

.header>* {
    padding: 20px;
}

.buttons>* {
    margin: 0 10px;
    font-size: medium;
    cursor: pointer;
}

#signup-btn {
    font-weight: bold;
    background-color: rgb(50, 50, 50);
    color: rgba(255, 255, 255, 0.825);
    border: none;
    outline: none;
}

#signup-btn:hover {
    color: white;
    font-size: 1.08rem;
}

#login-btn {
    border-radius: 16px;
    font-weight: 500;
    width: 82px;
    height: 34px;
}

#login-btn:hover {
    font-weight: 700;
    transform: scaleX(1.02);
}


.main h2 {
    padding: 13px;
}

.card-container {
    display: flex;
    /* gap: 10px; */
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 65vh;
}

.card {
    /* border: 2px solid red; */
    width: 150px;
    padding: 10px;
    border-radius: 15px;
    background-color: #252525;
    margin: 10px;
    position: relative;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card>* {
    padding-top: 8px;
}

.play {
    position: absolute;
    bottom: 96px;
    right: 15px;
    opacity: 0;
    transition: all 0.5s ease-out;
}

/* //playbar   */
.right {
    position: relative;
}

.playbar {
    position: absolute;
    bottom: 0;
    background-color: greenyellow;
    width: 95%;
    color: black;
    padding: 10px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 9px;
}